/********** Import de la police **********/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
/********** Import de la police **********/

/********** Reset **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Exo 2", sans-serif;
  color: #cacaca;
  background: #2a2a2a;
}
/********** Reset **********/

/********** Header & Nav **********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
  border-bottom: 1px solid #ff6600;
}

.name_color {
  color: #ff6600;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #ff6600;
}

nav li {
  margin-left: 16px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

nav i {
  color: #ff6600;
}
/********** Header & Nav **********/

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/********** Hero section **********/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 15px;
  scroll-snap-align: start;
}

.hero_img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 3px solid #ff6600;
  margin-bottom: 100px;
  padding: 5px;
}

.hero_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  filter: brightness(0.8);
}

.hero_part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 100%;
  height: auto;
}

.typed {
  color: #ff6600;
}

.text3 {
  margin-top: 150px;
  font-size: 18px;
  text-align: center;
}
/********** Hero section **********/

/********** Project section **********/
.project {
  height: 100vh;
  width: 100vw;
  padding: 25px;
  margin-top: 15px;
  scroll-snap-align: start;
}

.project_box {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card {
  border: 2px solid #ff6600;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 400px;
  cursor: pointer;
}

.card_part1 {
  height: 60%;
  overflow: hidden;
}

.card_part1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(0.8);
}

.card_part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40%;
}

.card_part2 h2 {
  color: #ff6600;
}

.card_part2 a {
  color: #ff6600;
  font-weight: bolder;
  transition: 0.2s ease-in-out;
  border: 1px solid #cacaca;
  border-radius: 15px;
  width: 100px;
  text-align: center;
  padding: 3px;
  font-size: 14px;
}

.card_part2 a:hover {
  scale: 1.1;
}
/********** Project section **********/

/********** Footer **********/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100vw;
  border-top: 1px solid #ff6600;
  color: #cacaca;
  font-size: 18px;
}
/********** Footer **********/

/********** Responsive **********/
@media screen and (max-width: 630px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 100px;
  }

  nav {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: 13px;
    margin-bottom: 8px;
  }

  section {
    padding: 10px;
  }

  .hero_img {
    height: 150px;
    width: 150px;
  }

  .hero_part {
    font-size: 25px;
  }

  .text1 {
    font-size: 15px;
  }

  .text2 {
    font-size: 15px;
  }

  .text3 {
    font-size: 13px;
  }

  .project_box {
    flex-direction: column;
  }

  .card {
    height: 435px;
  }

  .card_part2 {
    font-size: 13px;
  }

  footer {
    font-size: 13px;
  }
}

@media screen and (min-width: 631px) and (max-width: 1024px) {
  .text1 {
    font-size: 35px;
  }

  h1 {
    font-size: 40px;
  }

  .text2 {
    font-size: 35px;
  }

  .project_box {
    flex-direction: column;
  }
}
/********** Responsive **********/
